body {
    background: #1C1C1C;
    display: flex;
    width: 1253px;
    height: 678px;
    padding-top: 64px 47px 64px 62px;
    justify-content: center;
    align-items: center;

  

}

.container {
    background: #1F2937;
    width: 550px;
    height: 550px;
    flex-shrink: 0;
    margin-left: 160px;
    margin-top: 80px;
    
}

    /*Heading*/
h1 {
    font-family: Karla;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px; /* 100% */
    letter-spacing: -1px;
    width: 354px;
    height: 10px;

   
   }
   
   .generate-a-text {
      color: var(--white, #FFF);
      margin-top: 100px;
      margin-left: 50px;
   }
   
   .random-password-text {
      color: #4ADF86;
      margin-left: 50px;
   }

   .support-text {
      color: var(--medium-grey, #D5D4D8);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      margin-left: 50px;
   }

   #generate-button {
      color: var(--white, #FFF);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; 
      display: inline-flex;
      padding: 9px 17px 9px 15px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 6px;
      background: #10B981;
      /* shadow/sm */
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
      margin-top: 15px;
   }

   #line {
      background: #2F3E53;
      width: 446px;
      height: 1px;
      margin-top: 32px;
      margin-bottom: 35px;

  
}
    /*pasword field*/
    .password-field {
        display: inline-block;
        margin-right: 20px;
     }
    


    .psw {
      width: 211px;
      height: 39px;
      flex-shrink: 0;
      border-radius: 6px;
      background: #273549;
      color: #55F991; 
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px; 
    

 }

     .psw {
       width: 211px;
       height: 39px;
       flex-shrink: 0;
       border-radius: 6px;
       background: #273549;
       color: #55F991; 
       text-align: center;
       font-family: Inter;
       font-size: 16px;
       font-style: normal;
       font-weight: 500;
       line-height: 32px; 
   
 }

 