body {
  background: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #1F2937;
  width: 80%;
  max-width: 550px;
  height: 550px;
  flex-shrink: 0;
  margin-top: 80px;
  position: relative;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: -1px;
  width: 100%;
  margin-top: 20px;
}

.generate-a-text,
.random-password-text,
.support-text,
#generate-button,
.copy-button,
.psw {
  font-family: 'Inter', sans-serif;
}

.generate-a-text {
  color: var(--white, #FFF);
  margin-top: 100px;
  margin-left: 50px;
}

.random-password-text {
  color: #4ADF86;
  margin-left: 50px;
}

.support-text {
  color: var(--medium-grey, #D5D4D8);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 50px;
}

#generate-button {
  color: var(--white, #FFF);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #10B981;
  border-radius: 8px;
  background-color: #10B981;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

#generate-button:hover {
  background-color: #0F9960;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

#line {
  background: #2F3E53;
  width: 446px;
  height: 1px;
  margin-top: 32px;
  margin-bottom: 35px;
}

.password-field {
  display: inline-block;
  margin-right: 20px;
}

.psw {
  width: 211px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #273549;
  color: #55F991;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}

.copy-button {
  cursor: pointer;
  position: relative;
  margin-top: 12px;
  background-color: #10B981;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 18px;
  border: 2px solid #10B981;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.copy-button:hover {
  background-color: #0F9960;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

@media (min-width: 1400px) {
  /* Styles for screens wider than 1400px */
}

@media (min-width: 1200px) {
  /* Styles for screens wider than 1200px */
}

@media (min-width: 992px) {
  /* Styles for screens wider than 992px (e.g., tablets) */
}

@media (min-width: 768px) {
  /* Styles for screens wider than 768px (e.g., landscape tablets) */
}

@media (min-width: 576px) {
  /* Styles for screens wider than 576px (e.g., small tablets and phones) */
}

